* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ul.nav{
  font-sze: 18;
  color: #FFFFFF;
  list-style-type: none;
  margin: 0;
  margin-top:-4px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  align-content: center;
  align-items: center;
}

li.nav{
  display: block;
  color: #FFFFFF;
  text-align: center;
  align-items: center;
  padding: 20px 35px;
  text-decoration: none;
  float: left;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

li.name{
  display: block;
  color: #FFFFFF;
  text-align: center;
  align-items: center;
  padding: 13px 35px;
  text-decoration: none;
  float: left;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

