.projects{
	padding: 40px 15px;
	background-color: #100f1c;
	color: #FFFFFF;
}

.exp{
	padding: 40px 15px;
	background-color: #f2f2f2;
	color: #000000;
}

.more{
	padding: 40px 15px;
	background-color: #100f1c;
	color: #FFFFFF;
	text-align: center;
}

.foot{
	padding: 15px 15px;
	background-color: #222222;
	color: #FFFFFF;
	text-align: center;
}

.featurette-divider{
	border-color: #383748;
}

.header-divider{
  border-color: #d6d6d6;
}

.description {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
}